.sattu{
    background-color: brown;
    text-align: center;
    text-shadow: ghostwhite;
    color: ghostwhite;
    text-decoration:blanchedalmond;

}
#truck {
     background-color: blue;
    text-align: center;
    color: ghostwhite;
    text-decoration:blanchedalmond;

}
#hey {
    background-color:blueviolet;
    text-align: center;
    color: ghostwhite;
    text-decoration:blanchedalmond;

}